{% extends "layout.html" %}
{% block content %}
    <!-- Div to show the scanner -->
    <style>
        /* In order to place the tracking correctly */
        canvas.drawing, canvas.drawingBuffer {
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
    <section id="container" class="container">
        <div class="form-group">
            <label for="hardwaretyp">Hardwaretyp</label>
            <select name="hardwaretyp" id="hardwaretyp" class="form-select  form-select-lg"  onchange="hardwaretypChange(this.value)">
                <option value="rechner" selected>Rechner</option>
                <option value="bildschirm" >Bildschirm</option>
                <option value="tablet">Tablet</option>
                <option value="sonstiges">Sonstiges</option>
            </select>
        </div>
        <div class="form-group">
            <label for="bezeichnungsfeld">Bezeichnung</label>
            <input type="text" class="form-control form-control-lg" id="raumfeld" placeholder="Bezeichnung">
        </div>
        <br>
        <div class="controls">
            <fieldset class="input-group-btn">
                <button class="btn btn-danger stop">Stop</button>
                <button class="btn btn-info start">Start</button>
                <button class="btn btn-warning reset">Reset</button>
                <button class="btn btn-success send float-end">Speichern</button>
            </fieldset>
            <fieldset class="reader-config-group mt-3">
                <label>
                    <span>Barcode-Type</span>
                    <select name="decoder_readers">
                        <option value="code_128" selected="selected">Code 128</option>
                        <option value="code_39">Code 39</option>
                        <option value="code_39_vin">Code 39 VIN</option>
                        <option value="ean">EAN</option>
                        <option value="ean_extended">EAN-extended</option>
                        <option value="ean_8">EAN-8</option>
                        <option value="upc">UPC</option>
                        <option value="upc_e">UPC-E</option>
                        <option value="codabar">Codabar</option>
                        <option value="i2of5">I2of5</option>
                    </select>
                </label>
                <label>
                    <span>Resolution (long side)</span>
                    <select name="input-stream_constraints">
                        <option value="320x240">320px</option>
                        <option value="640x480">640px</option>
                        <option value="800x600">800px</option>
                        <option value="1280x720">1280px</option>
                        <option value="1600x960">1600px</option>
                        <option selected="selected" value="1920x1080">1920px</option>
                    </select>
                </label>
                <label>
                    <span>Patch-Size</span>
                    <select name="locator_patch-size">
                        <option value="x-small">x-small</option>
                        <option value="small">small</option>
                        <option selected="selected" value="medium">medium</option>
                        <option value="large">large</option>
                        <option value="x-large">x-large</option>
                    </select>
                </label>
                <label>
                    <span>Camera</span>
                    <select name="input-stream_constraints" id="deviceSelection">
                    </select>
                </label>
            </fieldset>
        </div>
        <br>
        <div id="result_strip">
            <ul class="thumbnails">
                <li class="inventarnummer">
                    <span>Inventarnummer</span>
                    <div class="thumbnail" id="inventarnummer"></div>
                </li>
                <li class="seriennummer">
                    <span>Seriennummer</span>
                    <div class="thumbnail" id="seriennummer"></div>
                </li>
                <li class="macadresse">
                    <span>MAC-Adresse</span>
                    <div class="thumbnail" id="macadresse"></div>
                </li>
            </ul>
        </div>
        <div id="interactive" class="viewport"></div>
    </section>


    <!-- Include the image-diff library -->
    <script src="{{ url_for("static", filename="quagga.min.js") }}"></script>
    <script src="{{ url_for("static", filename="scanner_inv.js") }}"></script>
    <script type="text/javascript">
    function hardwaretypChange(val) {
        if (val === "bildschirm") {
            document.getElementsByClassName("macadresse")[0].classList.add("invisible");
            console.log(document.getElementById("hardwaretyp").value);
        } else {
            document.getElementsByClassName("macadresse")[0].classList.remove("invisible");
            console.log(document.getElementById("hardwaretyp").value);
        }
    }
    </script>
{% endblock content %}