{% extends "layout.html" %}
{% block content %}
    <!-- Div to show the scanner -->
    <style>
    /* In order to place the tracking correctly */
        canvas.drawing, canvas.drawingBuffer {
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
    <form>
        <div class="form-group">
            <label for="raumfeld">Raum</label>
            <input type="text" class="form-control form-control-lg" id="raumfeld" placeholder="Raum">
        </div>
        <div class="form-group invisible">
            <label for="nummerfeld">Nummer</label>
            <input type="text" class="form-control form-control-lg" id="nummerfeld" placeholder="Nummer">
        </div>
        <div class="form-group">
            <label for="scanner-container">Scanner</label>
            <div id="scanner-container" style="position: relative"></div>
            <input type="button" id="btn" value="Start/Stop the scanner" />
        </div>
    </form>


    <!-- Include the image-diff library -->
    <script src="{{ url_for("static", filename="quagga.min.js") }}"></script>
    <script src="{{ url_for("static", filename="scanner.js") }}"></script>
{% endblock content %}